@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
$dark: #000;
$light: #fff;
$style1: #ffa534;
$style2: #fff7ae;
$border: #20232a;
$close: #f1074d;
$footer: #b6b6b6;
body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./Images/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $light;
}
button {
  cursor: pointer;
}
header {
  width: 100%;
  height: 10vh;
  background: $dark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  position: fixed;
  top: 0;
  border: 0.01em solid #20232a;
}
.logo {
  color: $dark;
  width: 100px;
  height: 35px;
  background: $style1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}
.logo h1 {
  font-size: 25px;
}
.search input {
  width: 300px;
  height: 35px;
  border: none;
  outline: none;
  border: 0.1em solid $style1;
  background: none;
  border-radius: 5px;
  padding: 0 0.5em;
  color: $style2;
}
::-webkit-input-placeholder {
  color: $style2;
}
.search button {
  width: 80px;
  height: 35px;
  border: none;
  outline: none;
  background: $style1;
  border-radius: 5px;
  margin-left: 0.5em;
  font-weight: bold;
}
.infos {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.infos p:nth-child(2) {
  padding: 0 2em;
}
.infos p span {
  color: $style1;
}
.movie {
  background: $dark;
  width: 250px;
  margin: 0 1em 1em 0;
  border-radius: 5px;
  padding: 0.1em;
  border: 0.01em solid $border;
}
.movie img {
  width: 100%;
}
.data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.title {
  padding: 1em;
}
.prev-next {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.prev-next p {
  font-size: 18px;
  padding: 0 2em;
}
.prev-next button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  background: none;
  color: $style1;
  border: 0.1em solid $style1;
  border-radius: 5px;
}
.prev-next button img {
  height: 30px;
}
.prev-next button:focus {
  background: $dark;
}
.btn {
  display: flex;
  align-items: center;
}
.btn button:nth-child(1) {
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  font-weight: bold;
  background: $style1;
  border-radius: 5px;
}
.btn button:nth-child(2) {
  margin-left: 1em;
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  background: none;
  border: 0.1em solid $style1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}
.btn button img {
  height: 25px;
}
.more {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: $dark;
  align-items: flex-start;
  justify-content: center;
}
.image img {
  width: 300px;
}
.item {
  width: 50vw;
  height: 50vh;
  padding: 2em;
  display: flex;
  align-items: flex-start;
}
.image {
  padding: 0 0.5em;
}
.image img {
  border-radius: 5px;
  border: 0.1em solid $style1;
}
.image p {
  padding: 0.5em 0 0 0;
}
.content {
  padding: 0 0.5em;
}
.content p {
  padding: 0.5em 0 0 0;
}
.image span {
  color: $style1;
}
.content span {
  color: $style1;
}
.content h1 {
  font-size: 20px;
  color: $style1;
}
.image button {
  width: 100px;
  height: 35px;
  background: $close;
  color: $light;
  border: none;
  outline: none;
  margin: 0.5em 0;
  border-radius: 5px;
}
.video {
  width: 100%;
  height: 100vh;
  background: $dark;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
}
.title-video {
  width: 100%;
  padding: 2em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.title-video button {
  width: 100px;
  height: 35px;
  background: $close;
  color: $light;
  border: none;
  outline: none;
  margin: 0.5em 0;
  border-radius: 5px;
}
.movie iframe {
  border: none;
  outline: none;
  border: 0.1em solid $style1;
  border-radius: 5px;
  margin: 0 0 1em 0;
}
.container {
  padding-top: 10vh;
}
.search {
  display: flex;
  align-items: center;
}
footer {
  width: 100%;
  padding: 2em 1em;
  color: $footer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: $style1;
}
@media (max-width: 800px) {
  header {
    flex-direction: column;
    height: 20vh;
    justify-content: center;
  }
  .container {
    padding-top: 20vh;
  }
  .prev-next p {
    padding: 0 1em;
  }
  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .search input {
    margin: 1em 0;
  }
  .search button {
    margin: 0;
  }
  .infos {
    flex-direction: column;
    height: auto;
    padding: 1em;
  }
  .infos p {
    padding: 0.5em 0;
  }
  .item {
    width: 100vw;
    flex-direction: column;
    padding: 2em 0.5em;
  }
}
